{:deps {:aliases [:dev]}
 :dev-http {8008 {:host "localhost"
                  :roots ["dev-resources"
                          "target/public"]}}
 :source-paths ["src" "dev"]
 :builds {:dq {:target :browser
               :output-dir "target/public/js"
               :modules {:main {:entries [com.potetm.dq
                                          com.potetm.dq.dev]}}}}}
